@import "jquery/slickgrid/slick.grid.css";
@import "jquery/slickgrid/slick.columnpicker.css";
@import "jquery/slickgrid/slick.pager.css";
@import "jquery/pnotify/jquery.pnotify.default.css";

.pg-labcoat, .pg-el, .pg-el.ui-widget, .ui-pnotify, .ui-pnotify-history-container {
    font-size: 73%;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

.ui-pnotify-history-container {
    right: 50% !important;
}

.ui-pnotify .ui-state-error {
    padding: 8px;
}

.pg-pane {
/*    border: 3px !important; */
}

.ui-layout-resizer-east, .ui-layout-resizer-west {
    border:0 !important;
}

.ui-layout-resizer-north, .ui-layout-resizer-south {
    border:0 !important;
}

.pg-system, .pg-main, .pg-editor-support, .pg-editor,
.pg-io, .pg-input, .pg-output, .pg-folders, .pg-queries,
.slick-header
{
    border:0 !important;
}

.pg-statusbar {
/*    border:0 !important; */
}

.pg-labcoat .ui-widget-header {
    line-height: 17px;
}

.pg-toolbar {
    border-top: 0 !important;
    border-bottom: 0 !important;
    vertical-align: baseline !important;
}

.pg-toolbar-actions, .pg-toolbar-context {
    margin: 5px;
    line-height: 24px;
}

.pg-toolbar-context .pg-toolbar-result-type {
    line-height: 16px;
}

.pg-statusbar .pg-toolbar-context {
    margin: 0 5px 0 0;
}

.pg-folders .pg-toolbar-description,
.pg-folders .pg-toolbar-actions,
.pg-queries .pg-toolbar-description,
.pg-queries .pg-toolbar-actions
{
    margin: 5px;
    line-height: 12px;
}

.pg-folders .pg-toolbar-context,
.pg-queries .pg-toolbar-context
{
    margin-top: 0px;
/*    line-height: 18px; */
    float:right;
/*    margin: 5px;
    line-height: 24px;
    */
}

.pg-folders .pg-toolbar-actions,
.pg-queries .pg-toolbar-actions
{
    float: left;
    margin-top: 0;
}

.pg-folders .pg-toolbar-context,
.pg-queries .pg-toolbar-context
{
    position: relative;
}

.pg-folders .pg-toolbar-context .pg-toolbar-result-type,
.pg-queries .pg-toolbar-context .pg-toolbar-result-type
{
    line-height: 16px;
}

.pg-folders pg-folders .pg-statusbar .pg-toolbar-context,
.pg-queries pg-folders .pg-statusbar .pg-toolbar-context
{
    margin: 0 5px 0 0;
}

.ui-layout-resizer-dragging {
/*    background-color: #000 !important; */
}


.pg-mainbar .pg-toolbar-actions, .pg-mainbar .pg-toolbar-context {
    position: absolute;
    line-height: 36px;
}

.pg-mainbar {
    height: 38px;
}

.pg-mainbar .user {
    font-weight: normal;
    margin: 0 10px;
}

.pg-results.ui-widget-content {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}

.pg-results .slick-header-column:first-child {
    border-left: 0;
}


.pg-statusbar .pg-toolbar-actions {
    font-weight: normal;
    font-size: 93%;
}

.pg-statusbar .ui-button.ui-widget.pg-editor-settings-trigger {
    background: transparent;
    font-size: 100%;
    border: none;
}

.pg-statusbar .pg-toolbar-context .pg-container {
    display: inline-block;
}

.pg-statusbar .pg-toolbar-context .pg-container.pg-progressbar {
    margin: 2px 0 0 0;
    width: 200px;
    height: 18px;
}

.pg-labcoat .pg-position {
    text-decoration: underline;
    cursor: pointer;
}

.ui-widget-content.pg-support {
    border-top: 0;
}

.pg-labcoat .pg-support-tabs.ui-tabs .ui-tabs-nav {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 22px;
    padding: 7px;
    border-bottom-width: 1px;
}

.pg-labcoat .pg-support-tabs .ui-tabs-panel {
    clear: left;
}

.pg-statusbar .ui-progressbar-value {
    background-image: url(images/progress-background.png);
    animation: progressbg0.5s linear infinite;
    /* Firefox: */
    -moz-animation: progressbg0.5s linear infinite;
    /* Safari and Chrome: */
    -webkit-animation: progressbg0.5s linear infinite;
}

.pg-editor-tabs.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-image: none;
}

.pg-execution-time, .slick-pager {
    font-weight: normal;
}

.pg-editor-tabs.ui-tabs {
/*     margin: 0;
     padding: 0; */
    border: 0;
    margin-top: 2px;
    margin-left: 3px;
    background-color: transparent;
    background-image: none;
 }

.pg-output-formats .ui-buttonset .ui-button {
    font-size: 95%;
    margin-right: -.35em;
}

.pg-editor-tabs .ui-icon.ui-icon-close {
    display: inline-block;
}

.pg-toolbar-actions button, .pg-toolbar-context button {
    height: 24px;
}

.pg-toolbar-context {
    position: absolute;
/*    margin: 0 5px; */
/*    line-height: 24px; */
    right: 0;
    top: 0;
}

.pg-toolbar-context.pg-stacked-context > div {
    float:left;
}

.pg-statusbar .pg-toolbar-actions {
    margin: 0;
}

.pg-output .pg-toolbar-context .slick-pager {
    border: 0;
    background: transparent;
}

.pg-output-formats /*, .pg-editor-tabs.ui-tabs*/ {
/*    padding: 2px; */
}

/*.pg-wizard,*/
.pg-wizard.transition
{
    -webkit-transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
    -ms-transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
    transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}

.pg-wizard {
    position: absolute;
    pointer-events:none;
    font-size: 105%;
}

.pg-wizard .pg-arrow.fade {
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.pg-wizard .pg-frame {
    font-family: Helvetica, Arial, sans-serif;

    border: 3px solid #8CC63F;
    padding: 25px;
    background: #fff;
    margin: 50px;
    position: relative;

    border-radius: 10px;

    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    2px 2px 5px rgba(0, 0, 0, 0.25);
    box-shadow:         2px 2px 5px rgba(0, 0, 0, 0.25);
}

.pg-wizard .pg-frame .close {
    position: absolute;
    right : 10px;
    top: 10px;

    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.pg-wizard .pg-frame .close a {
    pointer-events:auto;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.pg-wizard .pg-arrow {
    opacity: 0;
    background-repeat: no-repeat;
    position: absolute;
    width : 80px;
    height : 80px;
}

.pg-wizard .pg-step {
    top: 0px;
    padding: 0 15px 0 5px;
    position: absolute;
    font-size: 400%;
    font-weight: bold;

    color: rgba(240,240,240, 0.8);
    text-shadow: 1px 1px 2px #fff, 0 0 0 #000, 1px 1px 2px #eee;
}

.pg-wizard .pg-content {
    text-align: center;
    pointer-events:auto;
}

.ui-widget-content .pg-wizard .pg-content a {
    color: #0000A2;
    font-weight: bold;
}

.pg-wizard .pg-arrow.left-top {
    top: 0;
    left: 0;
    background-image: url("images/arrows/left-top.png");
    background-position: left top;
}

.pg-wizard .pg-arrow.left-center {
    top: 50%;
    margin-top: -40px;
    left: 0;
    background-image: url("images/arrows/left-center.png");
    background-position: left center;
}

.pg-wizard .pg-arrow.left-bottom {
    bottom: 0;
    left: 0;
    background-image: url("images/arrows/left-bottom.png");
    background-position: left bottom;
}

.pg-wizard .pg-arrow.center-top{
    top: 0;
    left: 50%;
    margin-left: -40px;
    background-image: url("images/arrows/center-top.png");
    background-position: center top;
}

.pg-wizard .pg-arrow.center-bottom{
    bottom: 0;
    left: 50%;
    margin-left: -40px;
    background-image: url("images/arrows/center-bottom.png");
    background-position: center bottom;
}

.pg-wizard .pg-arrow.center-center {
    display: none;
}

.pg-result .ui-state-error, .pg-result .ui-state-highlight, .pg-queries .pg-queries .ui-state-highlight {
    padding: 0.7em;
}

.pg-result .ui-state-error p, .pg-result .ui-state-highlight p, .pg-queries .pg-queries .ui-state-highlight p {
    padding: 0;
    margin: 0;
}

.pg-result .ui-widget pre {
    font-family: monospace;
    white-space: pre;
    margin: 0;
    padding: 0;
}

.pg-result .ui-widget pre.json {
    font-size: 115%;
}

.pg-result .ui-widget {
    overflow: auto;
}

.pg-result .ui-widget .ui-content {
    margin: 0.5em;
}

.pg-logo {
    background-repeat: no-repeat;
    width: 400px;
    height: 21px;
    margin-top: 4px;
    marign-left: 4px;
    float: left;
}
/*
.pg-quirrel {
    background-image: url(images/logo-quirrel.svg);
}
*/
.pg-precog {
    background-image: url(images/logo-precog-black.svg);
}

.pg-gridgain {
    background-image: url(images/logo-gridgain-black.svg);
}

.pg-labcoat .ui-layout-toggler {
    border: 0;
}

.pg-labcoat .ui-layout-resizer {
    border-radius: 0;
}

.pg-el.ui-widget .pg-export textarea {
    resize: none;
    font-family: monospace;
    font-size: 13px;
    line-height: 16px;
    width: 799px;
    height: 324px;
    margin-top: 4px;
    padding: 0;
    border: 0;
}

.pg-el.ui-widget .pg-export textarea:focus {
    outline: 0;
}

.ui-dialog .ui-dialog-content.pg-dialog-export {
    overflow: hidden;
}

.ui-dialog .captcha {
    text-align: center;
}

.ui-dialog .captcha p {
    margin: 1em;
}

.ui-dialog .captcha .ui-widget {
    margin-top: 1em;
}


.pg-el.ui-widget .pg-dialog-export .pg-toolbar.pg-actions,
.pg-el.ui-widget .pg-dialog-export .pg-toolbar.pg-options
{
    text-align: center;
}

.pg-el.ui-widget .pg-dialog-export .pg-toolbar.pg-options
{
    margin-top: 4px;
}

.pg-folders .pg-tree {
    overflow : auto;
}

.pg-queries .pg-tree {
    overflow : visible;
}

.pg-structure.jstree.jstree-default {
    background-color: transparent;
}

.pg-structure ins.jstree-themeicon {
/*    display: none; */
}

.pg-dialog-lineinput .pg-error,
.pg-dialog-lineinput .pg-message,
.pg-dialog-support .pg-error,
.pg-dialog-support .pg-message
{
    margin: 10px 0;
    padding: 8px;
    overflow: auto;
}

.pg-dialog-lineinput input[type="text"],
{
    width: 295px;
}

.pg-dialog-support input,
.pg-dialog-support textarea
{
    width: 376px;
}

.pg-dialog-support textarea
{
    height: 100px;
}

.pg-dialog-account .ui-dialog-titlebar-close {
    display: none;
}

.pg-dialog-account .field
{
    width: 235px;
}


.pg-dialog-account .field input[type="text"],
.pg-dialog-account .field input[type="email"],
.pg-dialog-account .field input[type="password"]
{
    width: 230px;
}

.pg-dialog-account .banner {
    width: 470px;
    height: 60px;
    background-image: url(images/banner-labcoat-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin: 10px 0;
}

.pg-dialog-account .poweredby {
    line-height: 13px;
    vertical-align: top;
    color: #999;
    text-align: center;
    font-size: 11px;
    margin: 0px 0 10px;
}

.pg-dialog-account .poweredby img {
    width: 78px;
    height: 13px;
    margin-left: 5px;
    display: inline-block;
}

.pg-dialog-account .error
{
    display: none;
    padding: 0.5em 1em;
}

.pg-dialog-account .field.left
{
    float: left;
}

.pg-dialog-account .field.right
{

    float: right;
}

.pg-dialog-account .row
{
    clear: both;
}

.pg-dialog-account .content-right
{
    text-align: right;
}

.pg-dialog-account .action
{
    margin-top: 20px;
}

.pg-dialog-account .small
{
    font-size: 93%;
}

.pg-dialog-account .or-vertical:after
{
    content: "or";
    line-height: 5em;
    margin-left: -0.85em;
    background-color: #fff;
    font-weight: bold;
    padding: 4px;
}

.pg-dialog-account .or-vertical
{
    border-left: 1px solid #ccc;
    position: absolute;
    left: 50%;
}

.pg-dialog-account .try-demo
{
    width: 200px;
    height: 44px;
    margin-top: 14px;
    font-weight: bold !important;
}

.pg-dialog-account .row.header {
    min-height: 90px;
}

.pg-ingest-phase, .pg-ingest-message {
    text-align: center;
}

.pg-ingest-phase {
    font-weight: bold;
}
.pg-queries .pg-queries {
    padding: 2px 2px 2px 2px;
    overflow: auto;
}

.pg-queries .pg-queries ul {
/*    display: none; */
    margin: 0;
    padding: 0;
}

.pg-queries .pg-queries ul .ui-button {
    display: block;
    text-align: left;
    margin: 0 0 2px 0;
}

.pg-queries .pg-queries ul .ui-button-text {
    padding: .2em 0.5em .2em 2.1em;
}

.pg-result .ui-state-error p {
    margin-bottom: 6px;
}

.pg-result .ui-state-error .error-container {
    margin-top: 12px;
}

.pg-result .ui-state-error .error-container:first-child {
    margin-top: 0px;
}

.pg-result .ui-state-error pre {
    font-size: 120%;
}

.ui-pnotify > .ui-widget.ui-pnotify-shadow {
    position: relative;
}

.ui-pnotify h4, .ui-pnotify h5, .ui-pnotify h6 {
    margin: 0;
    margin-bottom: 4px;
}

.ui-pnotify .pg-actions {
    position: absolute;
    bottom: 3px;
    right: 4px;
}

.ui-pnotify .pg-actions label {
    font-size: 83%;
    font-style: italic;
}

.ui-pnotify .pg-actions input[type="checkbox"] {
    margin: 0 6px;
}

.ui-pnotify .pg-textarea {
    margin: 8px 4px 0 0;
}

.ui-pnotify .pg-textarea textarea {
    resize: none;
    font-family: monospace;
    font-size: 13px;
    outline: 0;
    width: 100%;
    height: 7.4em;
}

.ui-pnotify .pg-footer {
    font-size: 83%;
    font-style: italic;
    text-align: right;
}

.ui-pnotify .pg-history {
    max-height: 420px;
    overflow: auto;
    padding-right: 4px;
}

.ui-pnotify .pg-history ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ui-pnotify .pg-history-item {
    padding: 4px 8px 6px;
    position: relative;
}

.ui-pnotify .pg-history ul li {
    margin-bottom: 4px;
}

.ui-pnotify .pg-history ul li:last-child {
    margin-bottom: 0;
}

.ui-pnotify .pg-history pre {
    white-space: pre;
    margin: 0;
    padding: 0;
    font-size: 130%;
    float:left;
}

.ui-pnotify .pg-history .pg-header {
    font-weight: bold;
    font-size: 83%;
    float: left;
    width: 6em;
    clear: left;
}

.ui-pnotify .pg-history .pg-info {
    font-style: italic;
    font-size: 83%;
    padding-top: 8px;
    clear: left;
}
.ui-pnotify .pg-clear, .pg-labcoat .pg-clear {
    clear: both;
}

.ui-pnotify .pg-history .pg-toolbar {
    position: absolute;
    right: 3px;
    bottom: 2px;
}

.ui-pnotify span.pg-label {
    display: block;
    float: left;
    width: 100px;
}

.ui-pnotify .pg-selection input[type="number"] {
    width: 5em;
}

.ui-pnotify .pg-selection.ui-content {
    margin-bottom: 4px;
    width: 240px;
    line-height: 2em;
    padding: 0 0.2em;
}

.ui-pnotify .pg-selection.ui-content select {
    width: 138px;
}

.ui-pnotify .pg-selection.ui-content:last-child {
    margin-bottom: 0;
}

.pg-chart-logo {
    text-align: center;
}

.pg-labcoat .ui-widget.ui-content.pg-overflow-hidden {
    overflow: hidden;
}

.pg-labcoat .pg-toolbar-result-type button {
    display: block;
    float: right;
}

.pg-labcoat .pg-current-options {
    font-weight: normal;
    margin-right: 0.5em;
    font-size: 93%;
    line-height: 1.2em;
    text-align: right;
    display: inline-block;
}

.pg-labcoat .pg-toolbar-context .pg-toolbar-result-type button {
    padding: 0;
}

.pg-labcoat .pg-table .ui-state-default,
.pg-labcoat .pg-results .ui-state-default
{
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}

.pg-labcoat .pg-results .result-icon
{
  margin-top: 4px;
}

.pg-labcoat .jstree .pg-tree-leaf {
    background-position:0 0;
    background-image: url(images/file.png);
}

.pg-labcoat .jstree .pg-tree-more {
    background-position:0 0;
    background-image: url(images/more.png);
}

.pg-labcoat .centered {
    text-align: center;
}

.ui-pnotify .pg-easter {
    text-align: center;
    font-size: 120%;
    font-style: italic;
    padding: 40px 0;
}

.ui-pnotify .ui-state-error ul.errors {
    padding: 0;
    margin: 0;
}

.ui-pnotify .ui-state-error ul.errors li {
    padding: 0;
    margin: 0;
    list-style-position:inside;
}

.ui-menu .ui-menu-item.menu-separator {
    height: 2px;
    border: 0;
}

dl.labcoat-url-generator {

}

dl.labcoat-url-generator dt {
    float: left;
    display: block;
    width: 100px;
    margin-top: 0.6em;
    padding-left: 10px;
}

dl.labcoat-url-generator dd {
    clear: right;
    padding-left: 120px;
    margin: 0 0 5px 0;
}

dl.labcoat-url-generator input.url {
    width: 20em;
}

dl.labcoat-url-generator input.path {
    width: 10em;
}

dl.labcoat-url-generator input.int {
    width: 5em;
}

dl.labcoat-url-generator input.api-key {
    width: 25em;
}

dl.labcoat-url-generator dt.full-line {
    padding: 0;
}

dl.labcoat-url-generator dd.full-line {
    clear: both;
    padding: 4px;
    overflow: auto;
}

dl.labcoat-url-generator .input-error {
    padding: 4px 8px;
    margin: 2px 2px 2px 0;
}

dl.labcoat-url-generator dt.header {
    width: inherit;
    float: none;
    margin: 12px 0 2px;
    padding: 0;
    font-weight: bold;
}

@keyframes progressbg
{
    0%   {background-position: 0 0;}
    100% {background-position: 20px 0;}
}

@-moz-keyframes progressbg /* Firefox */
{
    0%   {background-position: 0 0;}
    100% {background-position: 20px 0;}
}

@-webkit-keyframes progressbg /* Safari and Chrome */
{
    0%   {background-position: 0 0;}
    100% {background-position: 20px 0;}
}