<div>
    <h3>tutorial</h3>
    <div>This is a tutorial for the Quirrel query language. In about 30 minutes, you can learn everything you need to know to analyze data on Precog or any other system that supports Quirrel.</div>
    <h3>reference</h3>
    <div>This is a reference manual for functions in Quirrel's standard library. These functions help you save time and perform critical key operations when doing data analysis.</div>
    <h3>IRC channel</h3>
    <div>This is an IRC client that connects to the #quirrel channel on Freenode. On the Quirrel channel, you can often find other Quirrel users who can help answer your questions.</div>
</div>