<div class="pg-dialog-support">
    <div class="pg-message ui-content ui-state-highlight ui-corner-all"></div>
    <div class="pg-email">
        <label for="pg-input-email">Your email:</label>
        <br>
        <input id="pg-input-email" type="text" name="email" class="ui-widget-content"/>
    </div>
    <div class="pg-request">
        <label for="pg-input-request">request</label>
        <br>
        <textarea id="pg-input-request" name="request" class="ui-widget-content"></textarea>
    </div>
    <div class="pg-error ui-content ui-state-error ui-corner-all"></div>
</div>