<div class="pg-dialog-account">
    <div>
        <iframe id="blankiframe" name="blankiframe" style="display: none"></iframe>
        <form action="https://labcoat.precog.com/actions/login" class="login signin" method="post" target="blankiframe">
            <div>
                <div class="row banner">
                </div>
                <div class="row poweredby">
                    powered by <a href="http://www.precog.com/" target="_blank"><img src="css/images/logo-dark-precog.png" alt="precog"></a>
                </div>
                <div class="row header">
                    <div class="field left">
                        <p>
                            <label>
                                <input type="radio" class="choose-ui" name="choose-ui" value="login" tabindex="0">
                                I have an existing account
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="radio" class="choose-ui" name="choose-ui" value="create" tabindex="1">
                                I need to create a new account
                            </label>
                        </p>
                    </div>
                    <p class="or-vertical"></p>
                    <div class="field right content-right">
                        <button class="try-demo ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" tabindex="2"><span class="ui-button-text">Try Demo!</span></button>
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="row">
                    <div class="field left">
                        <label for="email">Email</label>
                        <div class="control"><input class="username" type="text" name="email" id="email" tabindex="3"></div>
                        <div class="error username ui-content ui-state-error ui-corner-all"></div>
                    </div>
                    <div class="field right">
                        <label for="password">Password</label>
                        <div class="control"><input class="password" type="password" name="password" id="password" tabindex="4"></div>
                        <div class="error password ui-content ui-state-error ui-corner-all"></div>
                    </div>
                </div>
                <div id="form-error">
                    <div class="row error ui-content ui-state-error ui-corner-all">

                    </div>
                </div>
                <div class="create">
                    <div class="row">
                        <div class="field left">
                            <label for="account-name">Name</label>
                            <div class="control"><input type="text" name="account-name" id="account-name" tabindex="6"></div>
                            <div class="error account-name ui-content ui-state-error ui-corner-all"></div>
                        </div>
                        <div class="field right">
                            <label for="account-confirm-password">Confirm Password</label>
                            <div class="control"><input type="password" name="account-confirm-password" id="account-confirm-password" tabindex="5"></div>
                            <div class="error account-confirm-password ui-content ui-state-error ui-corner-all"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="field left">
                            <label for="account-company">Company</label>
                            <div class="control"><input type="text" name="account-company" id="account-company" tabindex="7"></div>
                            <div class="error account-company ui-content ui-state-error ui-corner-all"></div>
                        </div>
                        <div class="field right">
                            <label for="account-title">Title</label>
                            <div class="control"><input type="text" name="account-title" id="account-title" tabindex="8"></div>
                            <div class="error account-title ui-content ui-state-error ui-corner-all"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="field right">
                            <div class="control">
                                <label><input type="checkbox" name="account-accept" id="account-accept" tabindex="9">I accept the <a href="http://www.precog.com/legal/" target="_blank">terms of service agreement</a></label>
                            </div>
                            <div class="error account-accept ui-content ui-state-error ui-corner-all"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="field right content-right action">
                            <div class="control">
                                <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only submit" type="submit" id="account-create" tabindex="10"><span class="ui-button-text">Create Account</span></button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="recover">
                    <div class="row">
                        <div class="field right">
                            <div class="control"><a href="#" class="reset small" id="reset-password">Forgot your password? Click to reset.</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="field right content-right action">
                            <div class="control">
                                <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only submit" type="submit" id="account-login" tabindex="11"><span class="ui-button-text">Login</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>