<div>
    <dl class="labcoat-url-generator">

        <dt class="header">Account Settings</dt>
        <dt><label for="apiKey">API Key</label></dt>
        <dd class="ui-widget-content ui-corner-all">
            <input id="apiKey" value="" type="text" class="api-key">
            <div class="input-error ui-state-error ui-corner-all" style="display:none"></div>
        </dd>

        <dt><label for="basePath">Base Path</label></dt>
        <dd class="ui-widget-content ui-corner-all">
            <input id="basePath" type="text" class="path">
            <div class="input-error ui-state-error ui-corner-all" style="display:none"></div>
        </dd>

        <dt class="header">User Preferences</dt>
        <dt><label for="limit">Limit</label></dt>
        <dd class="ui-widget-content ui-corner-all">
            <input id="limit" type="text" class="int">
            <div class="input-error ui-state-error ui-corner-all" style="display:none"></div>
        </dd>

        <dt><label for="theme">Theme</label></dt>
        <dd class="ui-widget-content ui-corner-all">
            <select id="theme"></select>
            <div class="input-error ui-state-error ui-corner-all" style="display:none"></div>
        </dd>

        <dt class="header">Server Settings</dt>
        <dt>Analytics Service</dt>
        <dd class="ui-widget-content ui-corner-all">
            https://<input id="analyticsService" value="" type="text" class="url">
            <div class="input-error ui-state-error ui-corner-all" style="display:none"></div>
        </dd>

        <dt>Labcoat Host</dt>
        <dd class="ui-widget-content ui-corner-all">
            https://<input id="labcoatHost" value="" type="text" class="url">
            <div class="input-error ui-state-error ui-corner-all" style="display:none"></div>
        </dd>

        <dt class="full-line output header">Labcoat Url</dt>
        <dd class="full-line ui-widget-content ui-corner-all output ui-state-highlight"><a href="" class="labcoatUrl" target="_blank"></a></dd>
    </dl>
</div>