<div class="pg-description"></div>
<div class="pg-selection ui-content ui-state-highlight ui-corner-all">
    <label><span class="pg-label">X Axis:</span><select class="pg-x"></select></label>
</div>
<div class="pg-selection ui-content ui-state-highlight ui-corner-all">
    <label><span class="pg-label">Y Axis:</span><select class="pg-y"></select></label>
</div>
<div class="pg-selection ui-content ui-state-highlight ui-corner-all">
    <label><span class="pg-label">Segment On:</span><select class="pg-segment"></select></label>
</div>
<div class="pg-selection ui-content ui-state-highlight ui-corner-all">
    <label><span class="pg-label">Max. Samples:</span><input type="number" step="1" min="1" class="pg-sample"></label>
</div>
<div class="pg-chart-logo">
    <a href="http://reportgrid.com/" target="_blank"><img src="http://api.reportgrid.com/css/images/reportgrid-clear.png" title="Powered by ReportGrid" height="29" width="194"></a>
</div>